.country_item{
    border: 1px solid #ddd;
    color: #fff;
    font-weight: 800;
    font-size: 22px;
    display: block;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.747);
    transition: font-size 0.4s , padding 0.4s;
    cursor: pointer;
  }
  .country_item:hover{
    background-color: #000;
  }
  .country_item.active{
    padding: 20px 30px;
    font-size: 30px;
    background-color: #000;
    color: rgb(43, 255, 0);
  }