.App{
  display: flex;
  justify-content: space-between;
  max-height: 100vh;
}
.countries_list{
  width: 40%;
  padding : 3px;
  margin: 0;
  background-color: aqua;
  list-style: none;
  max-height: 100%;
  overflow-y: scroll;
}

.country-info{
  width: 60%;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  color: #ffff;
}
.country-info__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.country-info__name{
  font-size: 30px;
}
.country-info__img{
  max-width: 400px;
  height: 200px;
  border: 5px solid #fff;
}
.country-info__bottom{
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
